body { font-size: 14px; background: #FCFCFC;}
h1 { text-transform: uppercase; color: #fff; font-weight: 500; margin: 0; font-size: 1.17em; }
h3 { text-transform: uppercase; color: #333; font-weight: 500; }
header { background: #9d23bb; color: #fff; padding: 10px; }
input { display: block; width: 100%; padding: 10px; font-size: 1.0em; margin-bottom: 0; }
input.small{ width: 50px; height: 30px; display: inline-block; padding: 0;}

.wrapper{ max-width: 80%; margin: 0 auto; }
.pull-right{ float: right; }
.text-red{ color: #c33030; }
.text-blue{ color: #6067e5; }
.half{ width: 49%; }
.error {border: 1px solid #f00; }
.clear{ clear: both;}
.clearfix:after{ content: ''; display: block; clear: both;}
.left {float: left;}
.right {float: right;}

.btn {
	border-radius: 7px;
	text-align: center;
	font-size: 1.1em;
	padding: 10px;
	padding-bottom: 8px; /* compensates for the box shadow */
	border: 0;
	color: #fff;
	background: #aaa;
	font-weight: bold;
	outline: 0;
	cursor: pointer;
	box-shadow: 0 2px 2px #7d7d7d;
	display: inline-block;
}
.btn.long{ width: 100%; }
.btn.small{ font-weight: normal; padding: 5px; padding-bottom: 2px; border-radius: 3px; box-shadow: 0!important; font-size: 0.9em; }
.btn.primary{
	background: #74d166;
	box-shadow: 0 3px 3px #5fad53;
}
.btn.primary:hover{ background: #7adb6b; }
.btn.danger{
	background: #c33030;
	box-shadow: 0 3px 3px #8e2d2b;
}
.btn.danger:hover{ background: #d13434; }
.btn.warning{
	background: #edbc36;
	box-shadow: 0 3px 3px #c69e2d;
}
.btn.warning:hover{ background: #f9c339; }
.btn.info{
	background: #6067e5;
	box-shadow: 0 3px 3px #3d43ba;
}
.btn.info:hover{ background: #6972f4; }
.buttons{ padding-top: 5px; text-align: right; }

.icon-gear{
	position: absolute;
    content: "";
	font-family:sans-serif;
    display: block;
    width: 14px;
    height: 14px;
    box-shadow: 0 0 0 4px inset;
    border-radius: 16px;
    border: 1px dashed;
    top: 5px;
	left: -1px;
}


#btnSettings { position: relative; font-weight: bold; outline: 0; cursor: pointer; color: #fff; font-size: 1.5em; background: transparent; border: 0; }

#history-sections{margin-bottom: 20px; }
#history-sections:after { display: block; content: ''; clear: both; }
#history-sections .section{ width: 33%; float: left; }
#history-sections .section-item{ padding-right: 40px; }
#history-sections .section-item a{ text-decoration: none; color: #737373; display: block; height: 1.3em; margin-bottom: 5px; line-height: 1.2em; word-wrap: inherit; overflow: hidden; text-overflow: ellipsis; }
#history-sections .section-item a img{ vertical-align: top; }
#history-sections .section-item a span{ vertical-align: baseline; font-size: 16px;}

#news-sections:after { display: block; content: ''; clear: both; }
#news-sections.grid .news-item { width: 25%; float: left; background: #fff; }
#news-sections.grid .news-item > div { padding: 1em; }
#news-sections.grid .news-item a {  width: 100%; background: #fff; box-shadow: 0 0 20px 1px #aaa; display: inline-block; height: 325px; overflow: hidden; color: #333; text-decoration: none; }
#news-sections.grid .news-item a .img { width: 100%; height: 156px; overflow: hidden; font-size: 2em; text-align: center; line-height: 156px; }
#news-sections.grid .news-item a img { min-width: 100%; max-height: 156px; }
#news-sections.grid .news-item a .title { font-weight: 500; margin-top: 5px; padding:0 10px; font-size: 1.1em; height: 2.8em; overflow:hidden; text-overflow: ellipsis; }
#news-sections.grid .news-item a p { margin-top: 0; color: #7d7d7d; font-size: 0.9em; padding: 10px; overflow:hidden; height: 60px; text-overflow: ellipsis; }
#news-sections.grid .news-item a .name { text-align: left; color: #333!important; text-transform: uppercase; padding: 0 10px;}
#news-sections.grid .news-item a .pubdate{ display: none; }

#news-sections.list .news-item { width: 100%; margin-bottom: 5px; }
#news-sections.list .news-item > div { padding: 0em; }
#news-sections.list .news-item a { padding:.5em 0; width: 100%; background: #fff;  display: inline-block; overflow: hidden; color: #333; text-decoration: none; }
#news-sections.list .news-item a .img {display: none; }
#news-sections.list .news-item a img { display: none; }
#news-sections.list .news-item a .title { float: right; width: 80%; font-weight: 500; font-size: 1.1em; overflow:hidden; text-overflow: ellipsis; }
#news-sections.list .news-item a p { display: none; }
#news-sections.list .news-item a .name { padding-left: 5px; float: left; width: 9%; margin-right: 1%; overflow: hidden; text-align: left; text-transform: uppercase;}
#news-sections.list .news-item a .pubdate{ display: block; font-size: 12px; color: #ccc; }

#feedList{ min-width: 350px; max-height: 350px; overflow-y: scroll; border-top: 1px solid #eee;}
#feedList a, 
#feedList a:link, 
#feedList a:visited, 
#feedList a:hover { font-size: 1.2em; text-decoration: none; }

.col-1, .col-2{ width: 48%; height: 27px; display: inline-block; line-height: 27px; overflow: hidden; padding: 1%; border-bottom: 1px solid #eee; }
.col-2{ text-align: right; }
#divNew{ min-width: 350px; height: 0; overflow: hidden; opacity: 0; padding-top: 10px; padding-bottom: 10px;}
#divNew input{margin-bottom: 5px;}

/**  Media queries **/
@media (max-width: 1024px) {
	.wrapper{ max-width: 90%; }
	#history-sections .section,
	#news-sections .news-item { width: 33%; }
}

@media (max-width: 760px) {
	.wrapper{ max-width: 98%; }
	#history-sections .section,
	#news-sections .news-item { width: 50%; }
}

@media (max-width: 480px) {
	.wrapper{ max-width: 98%; }
	#history-sections .section,
	#news-sections .news-item { width: 100%; }
}

.toggle-button{ outline: none; cursor: pointer; margin: 0; background: #fff; border: 1px solid #ccc; margin-left: -5px; padding: 5px; border-radius: 0;}
.toggle-button:first-child {border-radius: 5px 0 0 5px;}
.toggle-button:last-child {border-radius: 0 5px 5px 0;}
.toggle-button.active{background: #7aa6dd; color: #fff; border-color: #7aa6dd;}

/** Loader **/
.loader {
  color: #7d7d7d;
  margin-top: 100px;
  font-size: 50px;
  text-indent: -9999em;
  overflow: hidden;
  width: 1em;
  height: 1em;
  border-radius: 50%;
  margin: 72px auto;
  position: relative;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation: load6 1.7s infinite ease, round 1.7s infinite ease;
  animation: load6 1.7s infinite ease, round 1.7s infinite ease;
}
@-webkit-keyframes load6 {
  0% {
    box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
  }
  5%,
  95% {
    box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
  }
  10%,
  59% {
    box-shadow: 0 -0.83em 0 -0.4em, -0.087em -0.825em 0 -0.42em, -0.173em -0.812em 0 -0.44em, -0.256em -0.789em 0 -0.46em, -0.297em -0.775em 0 -0.477em;
  }
  20% {
    box-shadow: 0 -0.83em 0 -0.4em, -0.338em -0.758em 0 -0.42em, -0.555em -0.617em 0 -0.44em, -0.671em -0.488em 0 -0.46em, -0.749em -0.34em 0 -0.477em;
  }
  38% {
    box-shadow: 0 -0.83em 0 -0.4em, -0.377em -0.74em 0 -0.42em, -0.645em -0.522em 0 -0.44em, -0.775em -0.297em 0 -0.46em, -0.82em -0.09em 0 -0.477em;
  }
  100% {
    box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
  }
}
@keyframes load6 {
  0% {
    box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
  }
  5%,
  95% {
    box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
  }
  10%,
  59% {
    box-shadow: 0 -0.83em 0 -0.4em, -0.087em -0.825em 0 -0.42em, -0.173em -0.812em 0 -0.44em, -0.256em -0.789em 0 -0.46em, -0.297em -0.775em 0 -0.477em;
  }
  20% {
    box-shadow: 0 -0.83em 0 -0.4em, -0.338em -0.758em 0 -0.42em, -0.555em -0.617em 0 -0.44em, -0.671em -0.488em 0 -0.46em, -0.749em -0.34em 0 -0.477em;
  }
  38% {
    box-shadow: 0 -0.83em 0 -0.4em, -0.377em -0.74em 0 -0.42em, -0.645em -0.522em 0 -0.44em, -0.775em -0.297em 0 -0.46em, -0.82em -0.09em 0 -0.477em;
  }
  100% {
    box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
  }
}
@-webkit-keyframes round {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes round {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
